/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    font-size: 1em;
  }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

 ::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

 audio,
 canvas,
 iframe,
 img,
 svg,
 video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

 fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

   .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /*IN DEVELOPMENT, COMMENT THIS OUT!*/
   /*This is to prevent the ugly flashing of text while Typekit is still loading its fonts*/
   .wf-loading {
     visibility: hidden;
   }

   /* typography */

 body {
  background-color: #F7F7F7;
  margin: 0;
  margin-top: 5rem;
  font-family: "freight-sans-pro","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;
/*  font-weight: 400;
  line-height: 1.45;
  color: #242424;*/
  }

  p {margin-bottom: 1.3em;}

  h1, h2, h3, h4 {
   margin: 1.414em 0 0.5em;
   font-family: "franklin-gothic-urw","Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
 }

 h1 {
   margin-top: 0;
   font-size: 3.157em;
 }

 h2 {font-size: 2.369em;}

 h3 {font-size: 1.777em;}

 h4 {font-size: 1.333em;}

 .lead {
  font-size: 1.777em;
  text-align: center;
}

small, .font_small {font-size: 0.75em;}

.meeting {
  color: #848484;
}

.meeting span {
  color: #222;
  font-size: 1.333em;
  font-weight: 600;
}

.text-center {text-align: center;}

a {
  color: #242424;
  /*text-decoration: none;*/
}

b, strong {
  font-weight: 600;
}

/* forms from skel.css */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  width: 100%;
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

/* formatting */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 60rem;
  position: relative;
  box-sizing: border-box;
}

main {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

footer {
  margin-top: 2rem;
  text-align: center;
  color: #848484;
}

footer .fa {
  color: #848484;
  font-size: 1.5em;
  margin: 0 0.25em;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

footer .fa:hover {
  color: #242424;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.jumbotron h1 {
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.jumbotron.spread {
  background-image: url("../img/peeps.jpg");
  background-size: cover;
  background-position: center;
  padding: 16rem 0;
  margin: 2rem 0;
}

.jumbotron.spread.peeps {
  background-image: url("../img/spread2.jpg");
  padding: 12rem 0;
  margin-bottom: 0;
}

.column {
  width: 100%;
  margin-left: 4%;
  float: left;
  box-sizing: border-box;
}
.column:first-child             { margin-left: 0; }

.one-half.column                { width: 48%; }

.one-third.column               { width: 30.6666666667%; }
.two-thirds.column              { width: 65.3333333333%; }

.offset-by-one-third.columns    { margin-left: 34.6666666667%; }
.offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1337;
  background-color: rgba(36, 36, 36, 0.9); 
  /*background-color: #393939;*/
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  clear: both;
  line-height: 5rem;
  height: 5rem;
}

.navbar > .container {
  padding: 0 1em;
}

.navbar img {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem 0;
  float: left;
}

.navbar a {
  color: #FFFFFF;
  font-family: "franklin-gothic-urw","Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
  font-weight: 500;
}

.navbar ul {
  margin: 0;
  height: 5rem;
  float: right;
}

.navbar li {
  text-decoration: none;
  margin-left: 2rem;
}

.navbar .fa {
  font-size: 1.5em;
  line-height: 5rem;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar .fa:hover {
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

section {
  margin: 6rem 2rem;
}

section:before { 
  display: block; 
  content: " "; 
  margin-top: -500px; 
  height: 500px; 
  visibility: hidden; 
}

.list-menu ul {
  list-style: none;
  margin: 0;
}

.list-menu li {
  display: inline-block;
  text-align: center;
}

.list-menu a {
  text-decoration: none;
  display: block;
  transition: .3s background-color;
}

.navbar .cta {
  line-height: 2.5rem;
  padding: 0 1rem;
  /*background-color: #ffffff; */
  /*color: #242424; */
  border: 2px solid #FFFFFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .cta:hover {
  color: #242424;
  background-color: #FFFFFF;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button {
  display: inline-block;
  width: 200px;
  padding: 0.75rem 1.5rem;
  margin: 1.414em 0 0.5em;
  border: 3px solid #242424;
  font-family: "franklin-gothic-urw","Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button:hover {
  color: #FFFFFF !important;
  background-color: #242424;
  border-color: #242424;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.image-responsive {
  width: 100%;
  height: auto;
}

.signup {
  margin-bottom: 2.5rem;
}

.error-msg {
  font-style: italic;
}

    .bios img {
      width: 95%;
      display: block;
      margin: 0 auto;
    }

    .person {
      cursor: pointer;
      margin-bottom: 1em;
    }

    #bio {
      margin:10px;
    }

/*    .modal {
      z-index: 9999;
      border: 1px solid black;
      position: fixed;
      background-color: white;
      top:10%;
      right:0;
      left:25%;
      bottom:10%;
      width:50%;
      display:none;
    }*/

    .modal {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
      }

      #dialog {
        max-width: 60rem;
        max-height: 40rem;
        overflow-y: scroll;
          position: relative;
          margin: 10% auto;
          padding: 5px 20px 13px 20px;
          background: #fff;
      }

    #x {
      margin: 10px;
    }

    #close {
      text-decoration: none;
      color:gray;
    }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

 .hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

 .invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

 .clearfix:before,
 .clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.flush-top {
  margin-top: 0;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media (max-width: 40em) {
    .container {
      padding: 0 1rem;
    }

    .column {
      margin-left: 0;
      margin-bottom: 1.414em;
    }

    .one-half.column,
    .one-third.column,
    .two-thirds.column { 
      width: 100%;
    }

    .offset-by-one-third.columns,
    .offset-by-two-thirds.columns {
      margin-left: 0;
    }

/*    .navbar {
      height: 6rem;
      line-height: 3rem;
    }

    .navbar h1 {
      margin: 0;
      margin-left: 1rem;
      width: 100%;
      text-align: left;
    }

    .navbar ul {
      float: left;
    }

    .navbar li {
      margin: 0;
    }*/

  }

  @media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
        color: #000 !important; /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
      }

      a,
      a:visited {
        text-decoration: underline;
      }

      a[href]:after {
        content: " (" attr(href) ")";
      }

      abbr[title]:after {
        content: " (" attr(title) ")";
      }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

     a[href^="#"]:after,
     a[href^="javascript:"]:after {
      content: "";
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

     thead {
      display: table-header-group;
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    img {
      max-width: 100% !important;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
  }

/*
    Proper textarea resizing on admin page
  */
  textarea {
    resize: both;
  }
